<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@1,700&family=Merienda:wght@700&family=Open+Sans&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Market_register</title>
  </head>
  <body>
    <div>
        <p style="text-align: center;">
            <a href="/">
                <img src="icon/main_logo.png" alt="img" style="width: 300px; height: 150;" >
            </a>
        </p>
    </div>
    <div class="register_main">
      <p class="register_list">Register</p>
    </div>
    <div class="container my-4">
        <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="form-group" style="margin: 10px;">
              <div>
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name">
                <br>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
                <label for="ID">ID</label>
                <input type="text" class="form-control" name="ID" placeholder="ID(3 ~ 20 letters)">
                <br>
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password (3 ~ 20 letters)">
                <br>
                <label for="phone">Phone number</label>
                <input type="number" class="form-control" name="phone" placeholder="Phone number">
                <br>
                <label for="birth">Date of Birth</label>
                <input type="date" class="form-control" name="birth">
                <br>
                <label for="Email">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-outline-primary" style="text-align: center; margin:10px">Register</button>
        </form>
    </div>
    
  </body>
  <footer>
    <%- include('footer'); %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>
</html>