tr.hide-table-padding td {
    padding: 0;
  }
  
  .expand-button {
      position: relative;
      cursor: pointer;
  }
  
  .accordion-toggle .expand-button:after
  {
    position: absolute;
    left:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  .accordion-toggle.collapsed .expand-button:after
  {
    font-family: 'Open Sans', sans-serif;
    content: '+';
  }
  .accordion-toggle{
      background-color: lightyellow;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
  }
  .accordion-toggle.collapsed{
      background-color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: initial;
  }
  .hide-list{
      background-color: rgb(196, 230, 252);
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
  }

  .container{
    font-family: 'Open Sans', sans-serif;
  }

  .modify{
      margin-top: 40px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
  }


  .admin_main{
    height: 250px;
    background-image: url('../icon/admin.jpg');
    background-size: 100% 250px;
    background-repeat: no-repeat;
    object-fit: contain;
  }

.admin_word{
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 55px;
    padding-top: 100px;
    color: white;
}

.user_list{
  font-family: 'Merienda', cursive;
  margin-bottom: 40px;
  text-align: center;
}

.message_list{
  font-family: 'Merienda', cursive;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 60px;
}