.containerss{
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.size-tab{
  width: 100%;
}

.tab-content{
  font-family: 'Open Sans', sans-serif;
}

.cont{
  margin-top: 40px;
}
